.app--component {
  text-align: center;
  background-color: var(--light);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  color: var(--dark);
  font-size: 20px;
  border-bottom: 1px solid var(--dark);

  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 80px 1fr;

  grid-template-areas: "header header"
                       "left   right ";
}
HEADER {
  min-width: 480px;
  grid-area: header;
  border: 1px solid var(--dark);
  display: flex; align-items: center; justify-content: center;
  font-family: var(--font-1);
}
HR {
  border-color: var(--dark);
}

