@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Charmonman');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

* {
  padding: 0; margin: 0; box-sizing: border-box; font-family: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  --light: #DFE9E2;
  --blue: #AAAAAA;
  --purp: #B7999C;
  --pink: #EB5160;
  --dark: #071013;

  --font-1: 'Archivo Narrow', sans-serif;
  --font-2: monospace;
  --font-3: 'Charmonman', cursive;
  --font-4: 'Oswald', sans-serif;
} 